{% extends 'base_page.html' %}
{% load static %}
{% block content %}

    <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({% static 'assets/img/slide/101.jpg' %})">
          <div class="carousel-container">
            <div class="container d-flex h-100 align-items-center justify-content-center">
              <h2 class="animate__animated animate__fadeInDown">SUPPORT</h2>
           </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/102.jpg' %})">
          <div class="carousel-container">
            <div class="container d-flex h-100 align-items-center justify-content-center">
              <h2 class="animate__animated animate__fadeInDown">TRUST</h2>
              </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/103.jpg' %})">
          <div class="carousel-container">
            <div class="container d-flex h-100 align-items-center justify-content-center">
              <h2 class="animate__animated animate__fadeInDown">DIGNITY</h2>
              </div>
          </div>
        </div>



        <!-- Slide 4 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/103.jpg' %})">
          <div class="carousel-container">
            <div class="container d-flex h-100 align-items-center justify-content-center">
              <h2 class="animate__animated animate__fadeInDown">SELF RELIANCE</h2>
              </div>
          </div>
        </div>



        <!-- Slide 5 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/103.jpg' %})">
          <div class="carousel-container">
            <div class="container  d-flex h-100 align-items-center justify-content-center">
              <h2 class="animate__animated animate__fadeInDown">NETWORK</h2>
              </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </section><!-- End Hero -->

    <main id="main">


    <!-- ======= wkc Section ======= -->
    <section id="home" class="home">
      <div class="container">

        <div class="row">
          <div class="col-lg-3 col-md-4 order-1 order-lg-3 text-center" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'assets/img/home/home_page.jpg' %}" class="img-fluid img-thumbnail" loading="lazy"draggable="false" onmousedown="return false" style="user-drag: none">
          </div>
          <div class="col-lg-1 order-2 order-lg-2"></div>
          <div class="my-auto col-lg-8 col-md-8 order-3 order-lg-1 content">
            <p class="my-4"><span style="color: #D8232D; font-weight: bold; font-size: 1.5rem;">Swadhaar</span> is a Social Support Networking initiative to enable Konkani Talents, Budding Entrepreneurs, Students, Gifted Children, Senior Citizens, Konkani Institutions etc. to realise their fullest potential by providing Consultation, Training and a result oriented network platform.</p>
          </div>
        </div>

      </div>
    </section><!-- End wkc Section -->
    <!-- ======= About Section ======= -->
    
    <section id="about1" class="about" style="background-color: #F9FAF9">
      <div class="container">

        <div class="row content col-lg-12 tier" >
            <h3 class="font-weight-bold" style="color: #D8232D;">TWO TIER NETWORKING</h3>
            <p>Swadhaar is a network of grass root level Social Support Units – a group of socially responsive, committed young Konkani people. The Social Support units will constantly keep in touch with the people of their chosen area and escalate the Cases to the central level. They will also implement central level programmes such as Gifted Child hunt, Talent Outreach, Entrepreneur Outreach etc.</p>
            <p>The Central Level will have a control room which will facilitate the resolution of cases escalated by the Social Support Units. The Control room will have empaneled mentors, consultants and need assessors. When a case is escalated to the central level, the control room will assign a need assessor and assess the need pertaining to the case. On the basis of Need Assessment report the Control Room will assign consultants, mentors and enablers to the cases. Thus a case from the grassroot level get addressed quickly and resolved in timely manner.</p>
        </div>

      </div>
    </section><!-- End About Section -->
    <section id="about2" class="about">
      <div class="container">

        <div class="row content col-lg-12">
            <div class="segment">
            <h3 class="font-weight-bold" style="color: #D8232D;">SOCIAL SUPPORT SEGMENTS </h3>
            <p class="lead">The following are a few broad segments to which the Swadhaar will provide enabling services.</p>
            </div>
            <ul class="row">
            <li class="col-lg-6 float-left"><h5 style="color: #D8232D;"><u>Gifted Child Programme</u><h5><small> Annually a Gifted Child Hunt will be organized by the central level and implemented through SSUs by way of Gifted Child Tests. Identified Gifted Children will be provided with 360 degree support ensuring the realization of fullest potential of the child.</small></li>
            <li class="col-lg-6 float-right"><h5 style="color: #D8232D;"><u>Talent Management Support</u><h5><small> The Talents identified by the SSUs such as talented young persons in Music, Dance, Arts, Literature, Sports and Games, Coding etc will be groomed by providing mentoring, social media assistance and travel grants.</small></li>
            <li class="col-lg-6 float-left"><h5 style="color: #D8232D;"><u>Budding Entrepreneurs Support</u><h5><small> The struggling entrepreneurs identified by the SSUs will be provided with Consultation in compliances, know-how, finance and Branding.</small></li>
            <li class="col-lg-6 float-right"><h5 style="color: #D8232D;"><u>Startup Support</u><h5><small> The young people with Start Up ideas screened by the SSUs for passion and originality, will be vetted and facilitated with training, compliance and seed funding to start up their venture.</small></li>
            <li class="col-lg-6 float-left"><h5 style="color: #D8232D;"><u>Student Support</u><h5><small> Academically bright students identified by the SSUs will be supported through Scholarships and Skill Development Programme.</small></li>
            <li class="col-lg-6 float-right"><h5 style="color: #D8232D;"><u>Senior Citizen Support</u><h5><small> The unassisted Senior Citizens identified by the SSUs will be provided with 360 Degree support to ensure their wellbeing and dignified life.</small></li>
            <li class="col-lg-6 float-left"><h5 style="color: #D8232D;"><u>Chronic Illness Support</u><h5><small> The Chronic illness cases identified by the SSUs will be supported with Review of Medical Diagnosis, ameliorate the medical care standards, Care Giver Trainings and all possible aid.</small></li>
            <li class="col-lg-6 float-right"><h5 style="color: #D8232D;"><u>Government Scheme Support</u><h5><small> The eligible candidates identified by the SSUs and will be assisted for availing Government Scheme benefits.</small></li>
            <li class="col-lg-6 float-left"><h5 style="color: #D8232D;"><u>De-Addiction and rehabilitation Support</u><h5><small> The identified cases will be assisted with support to rehabilitate.</small></li>
            <li class="col-lg-6 float-right"><h5 style="color: #D8232D;"><u>Mental Wellness Programmes</u><h5><small> The SSUs will undertake a mental wellness survey to findout the possible reasons and evolve a mechanism for the social corrections.</small></li>
            <li class="col-lg-6 float-left"><h5 style="color: #D8232D;"><u>Women Empowerment</u><h5><small> The VSSN will organize workshops for women empowerment in areas such as skill development, post-maternity career planning etc.</small></li>
            <li class="col-lg-6 float-right"><h5 style="color: #D8232D;"><u>Support to Konkani Institutions</u><h5><small> Institutions of Konkani Communities will be provided with consultation to comply with Government Norms, Technology Implementation etc.</small></li>
            </ul>
        </div>

      </div>
    </section><!-- End About Section -->

    <section id="login" class="login">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
    
                <h3 class="mb-5" style="color: #D8232D;">Admin Login</h3>
    
                <div class="form-outline mb-4">
                  <input type="email" id="typeEmailX-2" class="form-control form-control-lg" placeholder="Email" />
                </div>
    
                <div class="form-outline mb-4">
                  <input type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Password" />
                </div>
    
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-start mb-4">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="form1Example3"
                  />
                  <label class="form-check-label" for="form1Example3"> Remember password </label>
                </div>
                <button class="btn btn-lg btn-block" style="background-color: #D8232D; color: white;" type="submit">Login</button>
    
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
    
                <h3 class="mb-5" style="color: #D8232D;">SSU Login</h3>
    
                <div class="form-outline mb-4">
                  <input type="email" id="typeEmailX-2" class="form-control form-control-lg" placeholder="Email" />
                </div>
    
                <div class="form-outline mb-4">
                  <input type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Password" />
                </div>
    
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-start mb-4">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="form1Example3"
                  />
                  <label class="form-check-label" for="form1Example3"> Remember password </label>
                </div>
                <button class="btn btn-lg btn-block" style="background-color: #D8232D; color: white;" type="submit">Login</button>
    
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    </main>

{% endblock %}

{% block custom_js %}
<script>
$('#heroCarousel').carousel({
    interval: 3000
});
</script>

{% endblock %}